/cmake-build-debug/CMakeFiles/3.27.0/CompilerIdCXX/a.exe
/.idea/.gitignore
/cmake-build-debug/CMakeFiles/3.27.0/CompilerIdC/a.exe
/.idea/B_M_S.iml
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-c9490de9a8db0c964024.json
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.27.0/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.27.0/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/3.27.0/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.27.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.27.0/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.27.0/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-15e9019a582a45cd83a3.json
/CMakeLists.txt
/cmake-build-debug/CMakeFiles/3.27.0/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.27.0/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-9d882730f37391aa2354.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-12-20T22-22-42-0701.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/.idea/misc.xml
/.idea/modules.xml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-B_M_S-Debug-df497187457e9317df03.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-46912a8ab9f7950c78e1.json
/.idea/vcs.xml
